## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [6]:
n= int(input("enter value: "))
sum=0

for i in range(1,n+1):
  sum=sum+i

print(sum)

enter value: 5
15

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [7]:
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [11]:
n= int(input("enter value: "))
for i in range(1,n):
  if i%3==0:
   print(i)

enter value: 28
3
6
9
12
15
18
21
24
27

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [12]:
n= int(input("enter number: "))

for i in range(1,11):
  print(f"{n} * {i}= {n*i}")

enter number: 5
5 * 1= 5
5 * 2= 10
5 * 3= 15
5 * 4= 20
5 * 5= 25
5 * 6= 30
5 * 7= 35
5 * 8= 40
5 * 9= 45
5 * 10= 50

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [24]:
n= int(input("enter number: "))
fact=1
for i in range(1,n+1):
  fact=fact*i

print(fact)

enter number: 4
24

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [22]:
n=int(input("enter number: "))
sum=0

for i in range(1,n+1):
 sum= sum+i

print(sum)

enter number: 20
210

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [25]:
n= int(input("enter: "))
for i in range(1,n+1):
  i=i+5
  print(i)

enter: 8
6
7
8
9
10
11
12
13

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [30]:
n= int(input("enter: "))
count_even=0
count_odd=0

for i in range(1,n):
  if i%2==0:
    count_even=count_even+1
  else:
    count_odd=count_odd+1

print("even number between 1 to 40 is: ",count_even)
print("odd number between 1 to 40 is: ",count_odd)

enter: 40
even number between 1 to 40 is:  19
odd number between 1 to 40 is:  20

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [33]:
n= int(input("enter: "))
for i in range(1,n+1):
  i=i*i
  print(i)

enter: 10
1
4
9
16
25
36
49
64
81
100

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [34]:
n= int(input("enter: "))
sum_odd= 0
sum_even= 0

for i in range(1,n):
  if i%2==0:
    sum_even=sum_even+i
  else:
    sum_odd=sum_odd+i

print("sum of even number is: ",sum_even)
print("sum of odd number is: ",sum_odd)

enter: 30
sum of even number is:  210
sum of odd number is:  225

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [36]:
n= int(input("enter: "))
count= 0

for i in range(1,n):
  if i%3==0 and i%5==0:
    count= count+1
print("number divisible by both 3 and 5 are:",count)

enter: 35
number divisible by both 3 and 5 are: 2

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [38]:
n= int(input("enter: "))
for i in range(1,n+1):
  if i%4==0:
    continue
  print(i)

enter: 30
1
2
3
5
6
7
9
10
11
13
14
15
17
18
19
21
22
23
25
26
27
29
30

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [39]:
n= int(input("enter: "))

for i in range(1,n):
  if i==1:
    largest=i
  elif i>largest:
    largest=i
print("largest number is: ",largest)

enter: 23
largest number is:  22

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [47]:
a= int(input("enter a: "))
b= int(input("enter b: "))

for i in range(1,10):
  result= a**b
  print(result)

enter a: 3
enter b: 2
9
9
9
9
9
9
9
9
9

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [53]:
n= int(input("enter: "))
for i in range(2,n-1):
  if n%i==0:
    print("not prime")
    break
  else:
    print("prime")
    break

enter: 23
prime

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [68]:
n = int(input("Enter n: "))

for num in range(2, n + 1):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

Enter n: 20
2 3 5 7 11 13 17 19

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [58]:
n= int(input("enter: "))
for i in range(1,n):
  if i%7==0 and i%11==0:
    print(i)
    break

enter: 100
77

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [60]:
N = int(input("Enter N: "))

for i in range(1, N + 1):
    for j in range(1, i + 1):
        print(j, end="")
    print()

Enter N: 3
1
12
123