# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup1=1,2,3,4,5
print(tup1)

(1, 2, 3, 4, 5)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tup=(1,2,"q",8.6)
print(tup)

(1, 2, 'q', 8.6)

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
students=("amam","asif","ayush")
print(len(students))

3

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
t=1,2,3,4
print(t[-1])

4

### Question 5
Check whether an element exists in a tuple or not.

In [11]:
# write your answer here
t=1,2,3,4
print(3 in t)

True

### Question 6
Convert a tuple into a list.

In [5]:
# write your answer here
t1= 1,2,4,5,7
print(list(t1))

[1, 2, 4, 5, 7]

### Question 7
Convert a list into a tuple.

In [6]:
# write your answer here
l1=[1,2,3,4,5]
print(tuple(l1))

(1, 2, 3, 4, 5)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [7]:
a= 2,2,3,2,9
print(a.count(2))

3

### Question 9
Find the index of an element in a tuple.

In [8]:
# write your answer here
b="aman",8.5,2,5
print(b.index("aman"))

0

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [13]:
# write your answer here
tu= 4,5,65,8
tu[0]= "9"
print(tu)

#hence, we can see it is not supporting item assignment. so, immutable.

TypeError: 'tuple' object does not support item assignment